{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account user%}
{% block head_title %}
    {% trans "Log In" %}
{% endblock head_title %}
{% block content %}
    {% element div class="log-form-auth" id="login-form"%}
        {% element h1 %}
            {% trans "Log In" %}
        {% endelement %}
        {% if not SOCIALACCOUNT_ONLY %}
            {% setvar link_signup %}
                <a href="{% account_url 'account_signup' %}">
                {% endsetvar %}
                {% setvar end_link_signup %}
                </a>
            {% endsetvar %}
            {% url 'account_login' as login_url %}
            {% element form form=form method="post" action=login_url tags="entrance,login" %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button type="submit" tags="prominent,login" %}
                        {% trans "Log In" %}
                    {% endelement %}
                    {% setvar link_reset_password %}
                        <a id="forget_pass" href="{% account_url 'account_reset_password' %}">
                        {% endsetvar %}
                        {% setvar end_link_reset_password %}
                        </a>
                    {% endsetvar %}
                    {{link_reset_password}}Forget Password{{end_link_reset_password}}
                {% endslot %}
            {% endelement %}
            {% element hr %}{% endelement %}
            {% element p class="login-options" %}
                {% blocktranslate %}Create new account? {{ link_signup }}sign up{{ end_link_signup }}{% endblocktranslate %}
            {% endelement %}
        {% endif %}
        {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
            {% element hr %}
            {% endelement %}
            {% element button_group vertical=True %}
                {% if PASSKEY_LOGIN_ENABLED %}
                    {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                        {% trans "Sign in with a passkey" %}
                    {% endelement %}
                {% endif %}
                {% if LOGIN_BY_CODE_ENABLED %}
                    {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                        {% trans "Send me a sign-in code" %}
                    {% endelement %}
                {% endif %}
            {% endelement %}
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    {% endelement %}
{% endblock content %}
{% comment %} {% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %} {% endcomment %}
