{% extends "account/base_entrance.html" %}
{% load i18n allauth user static %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
        {% if token_fail %}
            {% element div id="invalid-token" %}
                {% element h1 %}
                    {% trans "Invalid Token" %}
                {% endelement %}
                <img src="{% static 'svg/invalid-token-icon.svg' %}" alt="">
                {% account_url 'account_reset_password' as passwd_reset_url %}
                {% element p %}
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.{% endblocktrans %}
                {% endelement %}
                <a href="{{ passwd_reset_url }}">New Password Recovery</a>
            {% endelement %}
        {% else %}
            {% element div class="change-password-form" id="change-password" %}
                {% element h1 %}
                    {% trans "Change Password" %}
                {% endelement %}
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" name="action" %}
                            {% trans 'Confirm' %}
                        {% endelement %}
                        {% element button type="submit" form="logout-from-stage" tags="link,cancel" %}
                            {% translate "Cancel" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endelement %}
        {% endif %}
        {% if not cancel_url %}
            {% account_url 'account_logout' as login_url %}
            <form id="logout-from-stage"
                method="post"
                action="{{login_url}}">
                <input type="hidden" name="next" value="{{login_url}}">
                {% csrf_token %}
            </form>
        {% endif %}
{% endblock content %}
