{% extends "account/base_entrance.html" %}
{% load i18n static user %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element div id="password-secured" %}
        {% element h1 %}
            {% trans "Change Password" %}
        {% endelement %}
        <img src="{% static 'svg/password-secured-icon.svg' %}" alt="">
         {% element h2 %}
            {% trans "Password Change Complate" %}
        {% endelement %}
        {% element hr %}{% endelement %}
        {% setvar link_login %}
            <a href="{% account_url 'account_login' %}">
                {% endsetvar %}
                {% setvar end_link_login %}
            </a>
        {% endsetvar %}
        {% element p class="login-options" %}
            {% blocktranslate %}Try your password{{ link_login }}log in{{ end_link_login }}{% endblocktranslate %}
        {% endelement %}
    {% endelement %}
{% endblock content %}
