{% extends "account/base_entrance.html" %}
{% load allauth i18n  user %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element div class="log-form-auth" id="signup-form" %}
        {% element h1 %}
            {% trans "Sign Up" %}
        {% endelement %}
        {% setvar link_login %}
            <a href="{% account_url 'account_login' %}">
                {% endsetvar %}
                {% setvar end_link_login %}
            </a>
        {% endsetvar %}
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            {% element form  form=form method="post" action=action_url tags="entrance,signup" %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button tags="prominent,signup" type="submit" %}
                        {% trans "Sign Up" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% endif %}
        {% element hr %}{% endelement %}
        {% element p class="login-options" %}
            {% blocktranslate %}Already have an account? {{ link_login }}log in{{ end_link_login }}{% endblocktranslate %}
        {% endelement %}
        {% if PASSKEY_SIGNUP_ENABLED %}
            {% element hr %}
            {% endelement %}
            {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
                {% trans "Sign up using a passkey" %}
            {% endelement %}
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    {% endelement %}
    
{% endblock content %}
